<div>
  <form (submit)="onSubmit(form.value)" #form="ngForm">
    <h1><b>Gửi yêu cầu tham gia trợ giúp</b></h1>
    <mat-form-field style="width: 100%;" appearance="fill">
      <mat-label>Chọn ngày dự định hỗ trợ</mat-label>
      <input
        ngModel
        name="support_date"
        type="date"
        matInput
        placeholder="Chọn ngày dự định hỗ trợ"
      />
    </mat-form-field>
    <mat-form-field style="width: 100%;" appearance="fill">
      <mat-label>Thêm ghi chú</mat-label>
      <textarea
        ngModel
        name="description"
        matInput
        placeholder="Thêm ghi chú"
      ></textarea>
    </mat-form-field>
    <button
      type="submit"
      mat-flat-button
      class="submit-btn"
      color="primary"
    >
      Gửi yêu cầu
    </button>
  </form>
</div>
