.request_card-details {
  border: none;
  border-radius: 5px;
  padding: 0px;
  margin: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  .activity_sestion {
    position: relative;
    border-left: 1px solid rgb(226, 226, 226);
    border-right: 1px solid rgb(226, 226, 226);
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 0;
  }
  h4 {
    font-size: 12px;
    font-weight: 500;
  }
  span {
    right: 20px;
    position: absolute;
    z-index: 2;
  }
  .request_sesstion{
    position: relative;
  }
  .img_container {
    background-color: black;
    height: 200px;
    img {
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  p {
    font-weight: 500;
  }
}
.p-1 {
  padding: 10px 25px;
}
