<div class="request_card-details scrollable" fxLayout="row" fxLayout.xs="column">
  <span style="position: absolute; right: 10px; top: 10px"><button (click)="onClose()" mat-icon-button
      aria-label="close Icon">
      <mat-icon>close</mat-icon>
    </button></span>
  <section style="padding: 3.5vw; border-right: 1px solid #c8c8c8" fxFlex="65" class="request_sesstion" fxLayout="row"
    fxLayoutAlign="center">
    <div style="width: 450px; max-width: 100%" class="info_section">
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" style="margin-bottom: 10px; width: 100%">
        <div fxLayout="row">
          <div fxLayout="row" *ifRoles="['OPERATOR', 'USER', 'ADMIN']" fxLayoutAlign="center center"
            style="margin-right: 10px">
            <mat-icon>pin_drop</mat-icon>
            <a (click)="openProposeDialog()">Đề xuất cho nhóm</a>
          </div>
          <ng-container *ifRoles="['OPERATOR', 'USER', 'ADMIN']">
            <div *ngIf="request.verify_status !== 'verified' " fxLayout="row" fxLayoutAlign="center center">
              <mat-icon>check</mat-icon>
              <a (click)="confirmStatus()">Xác thực</a>
            </div>
          </ng-container>

          <ng-container *ifRoles="['GUEST', 'OPERATOR', 'USER', 'ADMIN']">
            <div *ngIf="request.verify_status === 'verified'" fxLayout="row" fxLayoutAlign="center center">
              <mat-icon style="color: #05944f">check</mat-icon>
              <a style="color: #05944f;" disabled>Đã xác thực</a>
            </div>
          </ng-container>
        </div>
        
        <button class="status-btn" mat-stroked-button color="primary"
          *ifRoles="['GUEST']">{{getStatusView(mapStatus)}}</button>
        <div *ifRoles="['OPERATOR', 'USER', 'ADMIN']">
          <button class="status-btn" mat-stroked-button color="primary" [matMenuTriggerFor]="menu" #menuTrigger
            [disabled]="getStatusSteps(mapStatus).length === 0">
            {{getStatusView(mapStatus)}}<mat-icon>expand_more</mat-icon></button>
          <mat-menu #menu="matMenu">
            <div>
              <button mat-menu-item *ngFor="let item of getStatusSteps(mapStatus)"
                (click)="updateRequestStatus(item)">{{mapStatus.get(item)?.action_view}}</button>
            </div>
          </mat-menu>
        </div>
      </div>
      <div class="p-1" style="border: 1px solid #c8c8c8; border-radius: 10px">
        <mat-chip-list aria-label="tag">
          <div class="priority-circle"
            [ngStyle]="{'background-color': mapPriority.get(request?.color_info?.color) || 'yellow'}">
          </div>
          <mat-chip *ngFor="let type of request?.support_types">{{
            type.name
            }}</mat-chip>
          <div class="chip" *ngFor="let object of request?.requester_object_status">
            {{ object.name }}</div>
        </mat-chip-list>
        <br />
        <h3>
          <b>{{ request?.subject }}</b>
        </h3>
        <mat-card-subtitle>{{create_time}}, {{distance}}</mat-card-subtitle>
        <br />
        <div *ngIf="pageEvent" style="margin-top: 15px">
          <section *ngIf="request?.medias?.[pageEvent.pageIndex]?.mime_type=='image'" class="img_container">
            <img width="100%" src="{{request?.medias?.[pageEvent.pageIndex]?.url!}}" />
          </section>

          <section *ngIf="request?.medias?.[pageEvent.pageIndex]?.mime_type=='video'" class="img_container">
            <video width="100%" height="100%" width="100%" controls>
              <source src="{{request?.medias?.[pageEvent.pageIndex]?.url!}}" type="video/mp4" />
            </video>
          </section>
          <mat-paginator [hidePageSize]="true" [length]="length" [pageSize]="pageSize" (page)="pageEvent = $event"
            aria-label="Select page">
          </mat-paginator>
        </div>
        <div>
          <p>
            Người cần hỗ trợ: <b>{{ request?.contact_info?.name }}</b>
          </p>
          <p>
            Số điện thoại: <b>{{ request?.contact_info?.phone_number }}</b>
          </p>
          <p>
            Địa chỉ: <b>{{ request?.address_info?.address! }}</b>
          </p>
          <p style="margin-top: 30px">
            Người gửi:<br />
            <b>{{ request?.created_by }}</b>
          </p>
        </div>
      </div>

      <div style="margin-top: 30px">
        <!-- <p>Trạng thái:</p>
        <h3>
          <b>{{ mapStatus.get(request?.status) }}</b>
        </h3>
        <br /> -->
        <p style="font-weight: bold; font-size: 17px">Nhóm trợ giúp</p>
        <app-button height="35" color="accent" text="Tham gia trợ giúp" (click)="openDialog()">
        </app-button>
        <div fxLayout="column" fxLayoutGap="10px" style="margin-top: 15px"
          *ngFor="let supporter of request?.supporters">
          <app-support-card [supporter]="supporter" [requestId]="request.id"></app-support-card>
        </div>
      </div>
    </div>
  </section>

  <!-- <section fxFlex="1/3" class="p-1 activity_sestion">
    <p style="font-weight: bold; font-size: 17px;">Hoạt động thiện nguyện</p>
    <button style="width: 100%; margin: 10px 0;" (click)="openTransDialog()" mat-flat-button color="primary">
      Cập nhật
    </button>
    <div *ngFor="let tran of trans" style="margin-bottom: 10px;">
      <app-trans-card [trans]="tran"></app-trans-card>
    </div>
  </section> -->
  <section fxFlex="35" class="p-1 comment_sestion" style="padding: 3.5vw">
    <p style="font-weight: bold; font-size: 17px">Bình luận</p>
    <div class="comment-block">
      <mat-form-field appearance="fill">
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="3"
                  placeholder="Viết bình luận...."
                  value="{{content.value}}"
                  #content></textarea>
      </mat-form-field>
      <div class="preFile" *ngIf="preUploadFile">
        <div class="content-prefile">
          <mat-icon (click)="preUploadFile = null">close</mat-icon>
          <img src="{{preUploadFile}}" alt="">
        </div>
      </div>
      <button mat-flat-button color="accent" (click)="show(content)" cdkFocusInitial>Đăng bình luận</button>
      <div class="fileUpload btn btn--browse">
        <mat-icon>add_a_photo</mat-icon>
        <input id="uploadBtn" class="upload" type="file" (change)="onFileSelected($event)"> 
      </div>
    </div>
    <div class="comment-list scrollable">
      <div *ngFor="let new of news" style="margin-bottom: 15px">
        <app-comment [new]="new"></app-comment>
      </div>
    </div>
  </section>
</div>