.request_card-details {
  border: none;
  // border-radius: 5px;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
  // overflow-y: scroll;
  .activity_sestion {
    position: relative;
    border-left: 1px solid rgb(226, 226, 226);
    border-right: 1px solid rgb(226, 226, 226);
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 0;
  }
  h4 {
    font-size: 12px;
    font-weight: 500;
  }
  span {
    right: 20px;
    position: absolute;
    z-index: 2;
  }
  .request_sesstion{
    position: relative;
  }
  .img_container {
    background-color: black;
    height: 200px;
    img {
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  p {
    font-weight: 500;
  }
}
.p-1 {
  padding: 20px 15px;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .info_section {
    width: 100% !important;
  }
}

.mat-chip{
  background-color:#FCE7E5 ;
}

.circle {
  font-size: 10px;
  height: 10px;
  width: 20px !important;
}
.status-btn{
  border-radius: 20px;
}
