<div class="request_card-details">
    <div class="p-1">
        <span>
            <app-button (click)='onclose()' [icon]="icon.close" [height]="height.small" [color]="color.basic"
                [type]="type">
            </app-button>
        </span>
        <br>
        <app-button [icon]="icon.alert" [height]="height.small" [color]="selectedColor" [text]="status">
        </app-button>
        <app-button [height]="height.small" [color]="color.primary" [text]="typeRequest">
        </app-button>
        <app-button [icon]="icon.done" [height]="height.small" [color]="color.basic" [text]="text.daxacthuc">
        </app-button>

        <br>
        <h3><b>{{request?.subject}}</b></h3>
        <mat-card-subtitle>10 phút trước, Hôm nay</mat-card-subtitle>
        <br>

        <h4><b>{{request?.status}}</b></h4>
    </div>


    <mat-paginator  [length]="length" [pageSize]="pageSize" (page)="pageEvent = $event" aria-label="Select page">
    </mat-paginator>
    
    <div *ngIf="pageEvent">
        <section *ngIf="request?.medias?.[pageEvent.pageIndex]?.mime_type=='image'" class="img_container"> <img
                src={{request?.medias?.[pageEvent.pageIndex]?.url!}}></section>
        <section *ngIf="request?.medias?.[pageEvent.pageIndex]?.mime_type=='video'" class="img_container">
            <video height="100%" width="auto" controls>
                <source src="{{request?.medias?.[pageEvent.pageIndex]?.url!}}" type="video/mp4">
            </video>
        </section>
    </div>
    <div class="p-1">
        <p>Người gửi: <b>{{request?.contact_info?.name}}</b></p>
        <p>Số điện thoại: <b>{{request?.contact_info?.phone_number}}</b></p>
        <p>Địa chỉ: <b>{{request?.address_info?.address!}}</b></p>
    </div>
    <hr>
    <div class="p-1">
        <p>Trạng thái:</p>
        <h3><b>{{request?.supporters?.length?"Đã có nhóm hỗ trợ":"Chưa có
                nhóm
                hỗ trợ"}}</b></h3>
    </div>
    <hr>
    <div class="p-1">
        Bình luận:
    </div>
</div>