.request_card-details {
  border: none;
  // border-radius: 5px;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  position: relative;
  // overflow-y: scroll;
  .activity_sestion {
    position: relative;
    border-left: 1px solid rgb(226, 226, 226);
    border-right: 1px solid rgb(226, 226, 226);
  }
  h3 {
    margin-top: 5px;
    margin-bottom: 0;
  }
  h4 {
    font-size: 12px;
    font-weight: 500;
  }
  span {
    right: 20px;
    position: absolute;
    z-index: 2;
  }
  .request_sesstion {
    position: relative;
  }
  .img_container {
    background-color: black;
    height: 200px;
    img {
      height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  p {
    font-weight: 500;
  }
}
.p-1 {
  padding: 20px 15px;
}
a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .info_section {
    width: 100% !important;
  }
}
.mat-chip {
  background-color: #fce7e5;
}
.circle {
  font-size: 10px;
  height: 10px;
  width: 20px !important;
}
.status-btn {
  border-radius: 20px;
}
.comment_sestion {
  .comment-list{
    max-height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
    @media(max-width: 599px){
      max-height: 300px!important;
    }
  }
  .comment-block{
    margin-bottom: 20px;
    position: relative;
    height: auto;
    ::ng-deep .mat-form-field {
      width: 100%;
      height: 100%;
      .mat-form-field-wrapper,
      .mat-form-field-flex {
        height: 100%;
      }
      .mat-form-field-flex {
        background-color: unset;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding-right: 40px;
      }
      .mat-form-field-underline {
        display: none;
      }
      textarea {
        height: 100%;
      }
    }
    button {
      border-radius: 5rem;
      margin-right: 4px;
      font-size: 16px;
      height: 35px;
      left: 15px;
      bottom: 15px;
      position: absolute;
      display: none;
    }
    .fileUpload{
      position: absolute;
      right: 15px;
      top: 15px;
      display: none;
      overflow: hidden;
      input.upload {
        position: absolute;
        top: 0;
        right: -348px;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        transform: rotate(180deg);
      }
      span{
        font-size: 15px;
        cursor: pointer;
      }
    }
    .preFile{
      position: absolute;
      width: 90px;
      bottom: 10px;
      right: 30px;
      .content-prefile{
        position: relative;
        mat-icon{
          position: absolute;
          right: -15px;
          top: -15px;
          background-color: rgba($color: #ddd, $alpha: .3);
          border: unset;
          border-radius: 50%;
          padding: 5px;
        }
      }
      img{
        width: 100%;
      }
    }
    &.active{
      height: 200px;
      button{
        display: block;
      }
      .fileUpload{
        display: block;
      }
    }
  }
}