<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" closed position="end">
    <mat-icon class="closeIcon" (click)="sidenav.close()">clear icon</mat-icon>
    <app-hospital-sidenav></app-hospital-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header">
      <p style="font-size:20px; font-weight: bold">Bệnh viện</p>
      <app-button
        [height]="'40'"
        [color]="'accent'"
        [text]="'TẠO BỆNH VIỆN'"
      ></app-button>
    </div>
    <mat-divider></mat-divider>
    <div style="width: 100%; margin-top: 20px" align="right">
      <mat-form-field appearance="outline">
        <mat-label>Tìm kiếm</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div
        [fxFlex]="100 / gridColumns + '%'"
        fxFlex.xs="100%"
        fxFlex.sm="33%"
        *ngFor="let hospital of hospitals"
      >
        <app-card [hospital]="hospital" (click)="sidenav.open()"></app-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
