<div class="content">
  <div class="header">
    <p>Bệnh viện</p>
    <button class="button">TẠO BỆNH VIỆN</button>
  </div>
  <div style="width: 100% ; margin-top: 20px" align="right">
    <mat-form-field appearance="outline">
      <mat-label>Tìm kiếm</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      [fxFlex]="100 / gridColumns + '%'"
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let hospital of hospitals"
    >
      <app-card [hospital]="hospital"></app-card>
    </div>
  </div>
</div>
