<div class="header">
  <p style="font-size: 20px; font-weight: bold">Nhóm thiện nguyện</p>
  <app-button height="40" color="accent" text="TẠO BỆNH VIỆN"></app-button>
</div>
<mat-divider></mat-divider>
<div style="margin-top: 10px" fxLayout="row" fxLayoutAlign="space-between">
  <app-button height="40" color="white" text="Loại hỗ trợ"></app-button>
  <sos-input label="Tìm kiếm"></sos-input>
</div>
<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div (click) = "openBottomSheet()" [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
    <app-group-card></app-group-card>
  </div>
  <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
    <app-group-card></app-group-card>
  </div>
  <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
    <app-group-card></app-group-card>
  </div>
  <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
    <app-group-card></app-group-card>
  </div>
</div>
