<div class="generalData">
  <div>
    <h2>
      <b>Yêu cầu khẩn cấp hôm nay</b> <span> <a href="">Xem tất cả</a></span>
    </h2>
    <h1>
      <b>{{ UrgentRequestGeneral.numRequest }}</b>
    </h1>
    <p>
      <b>{{ UrgentRequestGeneral.numSupported }} </b>yêu cầu đã có nhóm hỗ trợ
    </p>
    <p>
      <b>{{ UrgentRequestGeneral.numUnsupported }} </b>yêu cầu chưa có nhóm hỗ
      trợ
    </p>
  </div>
  <hr />
  <div>
    <h2>
      <b>Tổng số bệnh viện</b> <span> <a href="">Xem tất cả</a></span>
    </h2>
    <h1>
      <b>{{ HospitalGeneral.numHospital }}</b>
    </h1>
    <p>
      <b>{{ HospitalGeneral.numNeedSupport }} </b>bệnh viện đang cần hỗ trợ
    </p>
    <p>
      <b>{{ HospitalGeneral.numStable }} </b>bệnh viện bình thường
    </p>
  </div>
  <hr />
  <div>
    <h2>
      <b>Tổng số khu cách li</b> <span> <a href="">Xem tất cả</a></span>
    </h2>
    <h1>
      <b>{{ BlockedGeneral.numBlocked }}</b>
    </h1>
    <p>
      <b>{{ BlockedGeneral.numNeedSupport }} </b>khu cách li đang cần hỗ trợ
    </p>
    <p>
      <b>{{ BlockedGeneral.numStable }} </b>khu cách li bình thường
    </p>
  </div>
  <hr />
  <div>
    <h2>
      <b>Tổng số nhóm thiện nguyện</b> <span> <a href="">Xem tất cả</a></span>
    </h2>
    <h1>
      <b>{{ VolunteerGroupGeneral.numGroup }}</b>
    </h1>
  </div>
</div>
