<mat-card class="mat-elevation-z4">
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <p style="font-size: 17px; font-weight: bold;">{{ hospital?.name }}</p>
      <a>Xem chi tiết</a>
    </div>
    <p>
      Địa chỉ: <span style="font-weight: bold;">{{ hospital?.address }}</span>
    </p>
    <app-button
      height="40"
      color="primary"
      text="&bull; CẦN HỖ TRỢ"
    ></app-button>
    <div style="height: 20px;"></div>
    <!-- <div style="display: flex;">
      <p style="margin-right: 1.2rem;"> Bệnh nhân: {{hospital?.numPatient}}</p>
      <p>Giường bệnh: {{hospital?.numBeds}}</p>
    </div> -->
    <mat-divider></mat-divider>

    <p style="font-weight: bold; margin-top: 1rem;">
      Tình trạng cập nhật mới nhất
    </p>

    <div *ngFor="let status of hospital?.statusList">
      <p>Cần {{ status.value }} {{ status.key }}</p>
    </div>
  </mat-card-content>
</mat-card>
