<div class="mat-body reset-password-frame">
    <div class="head-frame">
        <h1>Xác thực OTP</h1>
        <div class="close-icon" [hidden]="!isDialog">
            <mat-icon mat-dialog-close>close</mat-icon>
        </div>
    </div>
    <form class="reset-password-form" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div>
            <sos-input type="text" formControlName="otp" label="OTP" [required]="true" [pattern]="regex"
                [error]="getError('otp')"></sos-input>
        </div>
        <div class="form-btn">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">
                XÁC THỰC
            </button>
        </div>
    </form>
</div>