<div class="request_card">
  <mat-chip-list aria-label="tag">
    <mat-chip color="primary" selected>
      <mat-icon>error</mat-icon>{{ mapPriority.get(request?.priority_type!) }}
    </mat-chip>
    <div *ngIf="type == ''">
      <mat-chip *ngIf="request?.support_types![0]" color="accent" selected
        >{{ request?.support_types![0]?.name }}
      </mat-chip>
      <mat-chip
        *ngIf="request?.requester_object_status![0]"
        color="accent"
        selected
      >
        {{ request?.requester_object_status![0]?.name! }}</mat-chip
      >
    </div>
    <div *ngIf="type == 'full-width'">
      <mat-chip
        *ngFor="let type of request?.support_types!"
        color="accent"
        selected
        >{{ type.name }}
      </mat-chip>
      <mat-chip
        *ngFor="let status of request?.requester_object_status!"
        color="accent"
        selected
      >
        {{ status.name! }}</mat-chip
      >
    </div>
    <mat-chip> <mat-icon>done</mat-icon>Đã xác thực </mat-chip>
  </mat-chip-list>
  <h3>
    <b>{{ request?.subject }}</b>
  </h3>
  <mat-card-subtitle>10 phút trước, Hôm nay</mat-card-subtitle>
  <!-- <h4>{{request?.status}}</h4> -->
  <hr />
  <p>
    Người gửi: <b>{{ request?.contact_info?.name }}</b>
    <span style="margin: 0 0 0 10px;">
      {{ mapStatus.get(request?.status) }}
    </span>
  </p>
</div>
