<div class="mat-body reset-password-frame">
    <div class="head-frame">
        <h1>Quên mật khẩu</h1>
        <div class="close-icon" [hidden]="!isDialog">
            <mat-icon mat-dialog-close>close</mat-icon>
        </div>
    </div>
    <mat-stepper linear #stepper orientation="vertical">
        <mat-step [stepControl]="phoneFormGroup" completed="false" editable="false">
            <form class="reset-password-form" [formGroup]="phoneFormGroup">
                <ng-template matStepLabel>Nhập số điện thoại</ng-template>
                <div>
                    <sos-input type="text" formControlName="phoneNumber" label="Số điện thoại" [required]="true"
                        [pattern]="phoneRegex" [error]="getError('phone')"></sos-input>
                </div>
                <div class="form-btn">
                    <button mat-raised-button color="primary" type="button" class="button"
                        (click)="requestOTP(phoneFormGroup.value)" [disabled]="!phoneFormGroup.valid">
                        GỬI
                    </button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="otpFormGroup" completed="false" editable="false">
            <form class="reset-password-form" [formGroup]="otpFormGroup">
                <ng-template matStepLabel>Xác thực OTP</ng-template>
                <div>
                    <sos-input type="text" formControlName="otp" label="OTP" [required]="true" [pattern]="otpRegex"
                        [error]="getError('otp')"></sos-input>
                </div>
                <div class="form-btn">
                    <button mat-raised-button color="primary" type="button" class="button"
                        (click)="confirmOTP(otpFormGroup.value)" [disabled]="!otpFormGroup.valid">
                        GỬI
                    </button>
                </div>
            </form>
        </mat-step>
        <mat-step completed="false" editable="false">
            <ng-template matStepLabel>Nhập mật khẩu mới</ng-template>
            <div>TODO: create new password form</div>
        </mat-step>
    </mat-stepper>
</div>