.reset-password-frame {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba($color: #707070, $alpha: 0.7);
    .head-frame {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            margin-bottom: 0;
            font-size: 22px;
            color: #000000;
            font-weight: 700;
        }
        .close-icon {
            ::ng-deep mat-icon {
                border: 1px solid #000000;
            }
        }
    }
    .head-sub {
        h4 {
            margin: 20px 0 30px 0;
            color: #707070;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .reset-password-form {
        sos-input {
            ::ng-deep
                .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
                .mat-form-field-outline-thick {
                color: #e11900;
            }
            ::ng-deep .mat-form-field.mat-warn .mat-input-element,
            ::ng-deep .mat-form-field-invalid .mat-input-element {
                caret-color: #e11900;
            }
            ::ng-deep .mat-form-field.mat-warn .mat-input-element,
            .mat-form-field-invalid .mat-input-element {
                caret-color: #e11900;
            }
            ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label,
            ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label,
            ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent,
            ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker {
                color: #e11900;
            }
            ::ng-deep .mat-error {
                color: #e11900;
            }
            ::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
                font-size: 16px;
                font-weight: 400;
                color: #707070;
            }
            ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
                margin: 0.5em 0;
            }
        }
        .form-item {
            &:nth-child(2) {
                position: relative;
                span {
                    position: absolute;
                    top: 35%;
                    transform: translateY(-35%);
                    color: #000;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                    right: 10px;
                    cursor: pointer;
                    outline: none;
                    z-index: 99;
                }
            }
        }
    }
    .form-btn {
        button {
            width: 100%;
            color: white;
            cursor: pointer;
            outline: none;
        }
        ::ng-deep .mat-raised-button:not([class*="mat-elevation-z"]),
        ::ng-deep .mat-raised-button:not([class*="mat-elevation-z"]) {
            box-shadow: unset;
            border-radius: 30px;
            font-size: 14px;
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            background-color: #e11900;
            height: 46px;
        }
        ::ng-deep .mat-raised-button.mat-button-disabled:not([class*="mat-elevation-z"]) {
            background-color: rgba($color: #e11900, $alpha: 0.3);
        }
    }
}

::ng-deep .reset-password-frame-dialog {
    .mat-dialog-container {
        background: unset !important;
        box-shadow: unset !important;
    }
}
