<div class="mat-body reset-password-frame">
  <div class="head-frame">
    <h1>Quên mật khẩu</h1>
    <div class="close-icon" [hidden]="!isDialog">
      <mat-icon mat-dialog-close>close</mat-icon>
    </div>
  </div>
  <mat-stepper linear #stepper orientation="vertical">
    <mat-step [stepControl]="phoneFormGroup" completed="false" editable="false">
      <form class="reset-password-form" [formGroup]="phoneFormGroup">
        <ng-template matStepLabel>Nhập số điện thoại</ng-template>
        <div>
          <sos-input
            type="text"
            formControlName="phoneNumber"
            label="Số điện thoại"
            [required]="true"
            [pattern]="phoneRegex"
            [error]="getError('phone')"
          ></sos-input>
        </div>
        <div class="form-btn">
          <button
            mat-raised-button
            color="primary"
            type="button"
            class="button"
            (click)="requestOTP(phoneFormGroup.value)"
            [disabled]="!phoneFormGroup.valid"
          >
            GỬI
          </button>
        </div>
      </form>
    </mat-step>
    <!-- <mat-step [stepControl]="otpFormGroup" completed="false" editable="false">
      <form class="reset-password-form" [formGroup]="otpFormGroup">
        <ng-template matStepLabel>
          Xác thực OTP <span *ngIf="!!otpCountdownShow">({{ otpTick }})</span>
        </ng-template>
        <div>
          <sos-input
            type="text"
            formControlName="otp"
            label="Mã xác nhận"
            [required]="true"
            [pattern]="otpRegex"
            [error]="getError('otp')"
          ></sos-input>
        </div>
        <div class="form-btn">
          <button
            mat-flat-button
            type="button"
            class="resend-btn"
            (click)="onResend()"
          >
            Gửi lại
          </button>
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="confirmOTP(otpFormGroup.value)"
          >
            Tiếp tục
          </button>
        </div>
      </form>
    </mat-step> -->
    <mat-step
      [stepControl]="newPasswordFormGroup"
      completed="false"
      editable="false"
    >
      <form class="reset-password-form" [formGroup]="newPasswordFormGroup">
        <ng-template matStepLabel>Nhập mật khẩu mới</ng-template>
        <div>
          <sos-input
            type="text"
            formControlName="otp"
            label="Mã xác nhận"
            [required]="true"
            [pattern]="otpRegex"
            [error]="getError('otp')"
          ></sos-input>
          <sos-input
            formControlName="password"
            type="password"
            label="Mật khẩu"
            [required]="true"
            [error]="getError('password')"
            [minlength]="8"
          ></sos-input>
          <sos-input
            formControlName="confirm_password"
            type="password"
            label="Nhập lại mật khẩu"
            [required]="true"
            [error]="getError('confirm_password')"
            [minlength]="8"
          ></sos-input>
        </div>
        <div class="form-btn">
          <button
            mat-raised-button
            color="primary"
            type="button"
            class="button"
            (click)="resetPassword(newPasswordFormGroup.value)"
            [disabled]="!newPasswordFormGroup.valid"
          >
            Xác nhận
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
