<span style="float: right;">
  <button (click)="onClose()" mat-icon-button aria-label="close Icon">
    <mat-icon>close</mat-icon>
  </button></span
>
<form class="example-form" (submit)="onSubmit(form.value)" #form="ngForm">
  <h2><b>Gửi yêu cầu khẩn cấp</b></h2>

  <br />
  <div class="content">
    <h4><b>Thông tin người cần giúp đỡ</b></h4>
    <fieldset ngModelGroup="contact_info">
      <mat-form-field class="example-left-half-width" appearance="outline">
        <mat-label>Họ và tên</mat-label>
        <input
          ngModel
          name="name"
          matInput
          placeholder="Họ và tên"
          value=""
          required
        />
      </mat-form-field>
      <mat-form-field class="example-right-half-width" appearance="outline">
        <mat-label>Số điện thoại</mat-label>
        <input
          ngModel
          name="phone_number"
          matInput
          placeholder="Số điện thoại"
          value=""
          required
        />
      </mat-form-field>
    </fieldset>
    <fieldset ngModelGroup="address_info">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Tỉnh/ Thành Phố</mat-label>
        <mat-select ngModel name="province_id" required>
          <mat-option
            *ngFor="let province of provinces"
            [value]="province.id"
            (click)="getProvince(province.id)"
          >
            {{ province.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-left-half-width" appearance="outline">
        <mat-label>Quận/ Huyện</mat-label>
        <mat-select ngModel name="district_code" required>
          <mat-option
            *ngFor="let district of province.districts"
            [value]="district.code"
            (click)="getDistrict(district?.code)"
          >
            {{ district.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-right-half-width" appearance="outline">
        <mat-label>Xã/ Phường</mat-label>
        <mat-select ngModel name="ward_code" required>
          <mat-option *ngFor="let ward of district.wards" [value]="ward.code">
            {{ ward.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Địa chỉ</mat-label>
        <input
          ngModel
          name="address"
          matInput
          placeholder="Số nhà, tên đường..."
          value=""
          required
        />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Ghi chú địa chỉ:</mat-label>
        <input matInput placeholder="Ghi chú" value="" />
      </mat-form-field>
    </fieldset>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Người cần hỗ trợ là</mat-label>
      <mat-select value="[]" ngModel name="requester_object_status" multiple>
        <mat-option
          *ngFor="let status of requesterObjectStatus"
          [value]="status"
        >
          {{ status.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <h4><b>Nội dung yêu cầu</b></h4>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Loại yêu cầu</mat-label>
      <mat-select ngModel name="support_types" multiple>
        <mat-option *ngFor="let type of supportTypes" [value]="type">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Tiêu đề</mat-label>
      <input
        ngModel
        name="subject"
        matInput
        placeholder="Tôi cần giúp..."
        value=""
        required
      />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Mô tả</mat-label>
      <input
        ngModel
        name="description"
        matInput
        placeholder="Thêm mô tả"
        value=""
      />
    </mat-form-field>
    <br />
    <h4><b>Mức độ</b></h4>
    <mat-radio-group name="priority_type" ngModel #priority_type="ngModel">
      <mat-radio-button
        *ngFor="let priority of urgentLevels"
        style="margin: 0 50px 0 0;"
        value="{{ priority.type }}"
        >{{ priority.name }}</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <br />

  <div mat-dialog-actions>
    <button
      mat-flat-button
      type="submit"
      style="float: right; border-radius: 5rem;"
      color="accent"
      (click)="checkSubmit(form)"
      cdkFocusInitial
    >
      Gửi yêu cầu
    </button>
  </div>
</form>
