::ng-deep.diaglog-createGroup{
  width: 600px;
  padding: 20px;
  .mat-dialog-container{
    box-shadow: unset;
    border-radius: 10px;
    overflow: hidden;
  }
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.phone-confirm{
  position: relative;
  sos-input{
    width: 100%;
  }
  button{
    position: absolute;
    right: 0;
    bottom: 30px;
  }

}

@media (max-width: 768px) {
  ::ng-deep .diaglog-createGroup{
    max-width: 90vw!important;
    width: 90vw;
    padding: 0;
    .mat-dialog-container{
      height: 400px;
      overflow: hidden;
      overflow-y: scroll;
    }
    .mat-form-field-infix{
      width: 100%;
    }
  }
}