<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" style="margin-bottom: 10px">
      <img class="avatar" src="https://picsum.photos/200/200" alt="image" />
      <div>
        <p style="font-weight: bold">{{ supporter?.name }}</p>
        <p>{{ supporter?.contact_info?.phone_number }}</p>
      </div>
    </div>
    <mat-form-field
      *ngIf="isMe; else notme"
      style="width: 100px"
      appearance="outline"
    >
      <mat-label>Trạng thái</mat-label>
      <mat-select>
        <mat-option>123 </mat-option>
      </mat-select>
    </mat-form-field>
    <ng-template #notme>
      <p style="font-weight: bold">{{ supporter?.status }}</p>
    </ng-template>
  </div>
  <p>Loại hình hỗ trợ: <span>Toàn bộ</span></p>
  <p>
    Thời gian hỗ trợ dự kiến:
    <span>{{ supporter?.schedule_support_date }}</span>
  </p>
  <p>
    Mô tả: <span>{{ supporter?.description }}</span>
  </p>
  <div style="margin-top: 15px">
    <p>Tham gia vào: <span>09/10/2021</span></p>
  </div>
</div>
