<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="row" style="margin-bottom: 10px">
      <img class="avatar" src="https://picsum.photos/200/200" alt="image" />
      <div>
        <p style="font-weight: bold">{{ supporter?.name }}</p>
        <p>{{ supporter?.contact_info?.phone_number }}</p>
      </div>
    </div>
    <div class="status-btn" *ifRoles="['GUEST']" >
      <button mat-stroked-button color="primary"  >
        {{getStatusView(mapSupportStatus)}}</button>
    </div>
    
    <div  *ifRoles="['OPERATOR', 'USER', 'ADMIN']">
      <button class="status-btn" mat-stroked-button color="primary" [matMenuTriggerFor]="menu" #menuSupportTrigger 
      [disabled]="getStatusSteps(mapSupportStatus).length === 0 || supporter.status === 'resolved'">
        {{getStatusView(mapSupportStatus)}}<mat-icon>expand_more</mat-icon></button>
      <mat-menu #menu="matMenu" >
        <div>
          <button mat-menu-item
          *ngFor="let item of getStatusSteps(mapSupportStatus)"
          (click)="updateSupportStatus(item)">{{mapSupportStatus.get(item)?.action_view}}</button>
        </div>
      </mat-menu>
    </div>
  </div>
  <!-- <p>Loại hình hỗ trợ: <span>Toàn bộ</span></p> -->
  <p>
    Loại hổ trợ :
    <span>{{ supporter?.is_support_all ? 'Hổ trợ toàn phần' : 'Hổ trợ một phần'}}</span>
  </p>
  <p>
    Thời gian dự tính :
    <span>{{ supporter?.schedule_support_date | date: 'dd/MM/YY'}}</span>
  </p>
  <p>
    Mô tả: <span>{{ supporter?.description }}</span>
  </p>
  <!-- <div style="margin-top: 15px">
    <p>Tham gia vào: <span>09/10/2021</span></p>
  </div> -->
</div>
