<div class="container">
  <mat-card class="form-card">
    <div class="mat-body signup-frame">
      <h1>Đăng kí</h1>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div>
          <sos-input
            formControlName="username"
            type="email"
            label="Tên đăng nhập"
            [required]="true"
            [error]="getError('user')"
            [minlength]="8"
          ></sos-input>
          <sos-input
            formControlName="first_name"
            type="text"
            label="Họ"
          ></sos-input>
          <sos-input
            formControlName="last_name"
            type="text"
            label="Tên"
          ></sos-input>
          <sos-input
            formControlName="password"
            type="password"
            label="Mật khẩu"
            [required]="true"
            [error]="getError('pass')"
            [minlength]="8"
          ></sos-input>
          <sos-input
            formControlName="phone_number"
            type="phone"
            label="Số điện thoại"
            [required]="true"
            [error]="getError('phone')"
          ></sos-input>
          <div class="form-btn">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              class="button"
              [disabled]="!formGroup.valid"
            >
              Đăng kí
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>
