span {
  font-weight: bold;
}

.short-name {
  margin-left: 50px;
  font-size: 12px;
  padding: 2px;
  border: unset;
  border-radius: 50%;
  background-color: #dfe1e6;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-icon {
  margin-left: 20px;
}


