<div class="container">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h1 mat-dialog-title style="font-size: 22px; font-weight: bold;">
      Chỉnh sửa
    </h1>
    <mat-icon (click)="CloseDialog()">clear icon</mat-icon>
  </div>
  <div mat-dialog-content>
    <form (submit)="onSubmit(form.value)" #form="ngForm">
      <sos-input
        ngModel
        name="name"
        placeholder="Tên nhóm"
        label="Tên nhóm"
        defaultValue="123"
        [required]="true"
      ></sos-input>
      <button
        mat-flat-button
        type="submit"
        class="submit-btn"
        color="accent"
        (click)="checkSubmit(form)"
        cdkFocusInitial
      >
        Lưu
      </button>
    </form>
  </div>
</div>
