.container {
  .form-card {
    margin: auto;
    
  }
}

.signup-frame {
  border-radius: 10px;
  padding: 20px;
  .form-btn {
    margin-top: 10px;
    button {
      width: 100%;
      color: white;
    }
  }
}

.button-check{
  ::ng-deep .mat-button-wrapper{
    color: #000;
  }
}

.w50{
  width: 50% !important;
}
.mat-stepper-horizontal {
  margin-top: 8px 0;
}
.mat-horizontal-stepper-header-container {
  margin-bottom: 10px !important;
}
.mat-horizontal-content-container{
  padding: 0;
  margin-top: 10px;
}
.mat-form-field {
  margin-top: 16px;
}