<div class="post-card">
  <p style="font-weight: bold; padding: 10px 10px 0 10px;">
    {{ trans?.description }}
  </p>
  <div
    *ngIf="trans?.medias![0]?.url"
    style="background: black; width: 100%; height: auto;"
  >
    <img src="{{ trans?.medias![0]?.url }}" alt="image" />
  </div>
  <div
    style="padding: 10px 10px 0px 10px; position: relative;"
    fxLayout="column"
    fxLayoutAlign="space-between"
  >
    <p>
      Đăng bởi:
      <span style="font-weight: bold;">{{ trans?.supporter_info?.name }}</span>
    </p>
    <p>
      Điện thoại:
      <span style="font-weight: bold;">{{
        trans?.supporter_info?.contact_info?.phone_number
      }}</span>
    </p>
    <b>Danh sách hỗ trợ:</b>
    <p *ngFor="let support of trans?.support_list">
      - {{ support.amount }} {{ support.unit }} {{ support.name }}
    </p>
    <span style="text-align: right; color: grey; font-size: x-small;">{{
      trans?.created_time
    }}</span>
  </div>
</div>
