<mat-card class="mat-elevation-z4">
  <mat-card-content fxLayout="row">
    <img class="avatar" src="https://picsum.photos/200/200" alt="image" />
    <div>
      <p style="font-size: 17px; font-weight: bold">Nhóm thiện nguyện từ tâm</p>
      <p>123 Võ Văn Tần, P.1, Quận 1, TP Hồ Chí Minh</p>
      <p style="margin-top: 20px">Loại hỗ trợ</p>
      <div fxLayout="row wrap" fxLayoutGap="5px grid">
        <app-button
          height="40"
          color="#FCE7E5"
          text="NHU YẾU PHẨM"
        ></app-button>
        <app-button height="40" color="#FCE7E5" text="LƯƠNG THỰC"></app-button>
        <app-button height="40" color="#FCE7E5" text="LƯƠNG THỰC"></app-button>
        <app-button height="40" color="#FCE7E5" text="LƯƠNG THỰC"></app-button>
      </div>
      <p style="margin-top: 20px">Trạng thái</p>
      <div class="group-status">
        <p>
          Nhóm đang cần thêm lương thực, nhu yếu phẩm để đi trợ giúp. Mọi thông
          tin liên hệ số điện thoại: 012345664
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
