<mat-card class="mat-elevation-z4">
  <mat-card-content fxLayout="row">
    <img class="avatar" src="{{group?.avatar}}" alt="image" />
    <div class="mat-item">
      <p class="title">{{ group?.name }}</p>
      <p class="address">
        {{ group?.address_info?.ward_name }},
        {{ group?.address_info?.district_name }},
        {{ group?.address_info?.province_name }}
      </p>
      <p style="margin-top: 20px;font-size: 15px;">Loại hỗ trợ</p>
      <div class="item-type" fxLayout="row wrap" fxLayoutGap="15px grid">
        <app-button
          height="40"
          color="#FCE7E5"
          text="{{ type.name }}"
          *ngFor="let type of group?.detail_info?.support_types"
        ></app-button>
      </div>
      <!-- <p style="margin-top: 20px;font-size: 15px;">Trạng thái</p>
      <div class="group-status">
        <p>
          Nhóm đang cần thêm lương thực, nhu yếu phẩm để đi trợ giúp. <br>Mọi thông
          tin liên hệ số điện thoại: {{ group?.contact_info?.phone_number }}
        </p>
      </div> -->
    </div>
  </mat-card-content>
</mat-card>
