<div class="sidebar-container">
  <div class="header">
    <p>Bệnh viện A</p>
    <mat-icon>clear icon</mat-icon>
  </div>
  <p>
    Địa chỉ:
    <span style="font-weight: bold"
      >Địa chỉ: 311 Khổng Tử, P. Linh Đông, TP Thủ Đức</span
    >
  </p>
  <button class="tag">&bull; BÌNH THƯỜNG</button>
  <div style="display: flex; margin-top: 10px">
    <p style="margin-right: 1.2rem">Bệnh nhân: 1200</p>
    <p>Giường bệnh: 2000</p>
  </div>
  <mat-tab-group>
    <mat-tab label="CẬP NHẬT TRẠNG THÁI">
      <div class="update-status">
        <mat-form-field appearance="outline">
          <mat-label>Cập nhật trạng thái...</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button class="send">GỬI</button>
      </div>
      <p style="font-weight: bold">MỚI NHẤT</p>
      <div class="card">
        <p style="font-weight: bold">Bệnh viện tạm thời không cần gì.</p>
        <div align="right">
          <p>10:30 AM . Hôm nay</p>
        </div>
      </div>
      <p style="font-weight: bold; margin-top: 30px">LỊCH SỬ</p>
      <div class="card">
        <p style="font-weight: bold">Bệnh viện tạm thời không cần gì.</p>
        <div align="right">
          <p>10:30 AM . Hôm nay</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="BÀI ĐĂNG">
      <div class="update-status">
        <mat-form-field appearance="outline">
          <mat-label>Nhập nội dung...</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button class="send">GỬI</button>
      </div>
      <div class="post-card">
        <p style="font-weight: bold">Hôm nay tại BV A.</p>
        <div align="center">
          <img src="https://picsum.photos/200" alt="image" />
        </div>
        <div class="post-info">
          <P>Đăng bởi: Hai Nguyen</P>
          <p>10:30 AM . Hôm nay</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="HOẠT ĐỘNG THIỆN NGUYỆN">
      <div class="update-status">
        <mat-form-field appearance="outline">
          <mat-label>Nhập nội dung...</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button class="send">GỬI</button>
      </div>
      <div class="post-card" style="margin-bottom: 15px">
        <p style="font-weight: bold">
          Hôm nay đã hỗ trợ: 100 giường bệnh, 200 khẩu trang
        </p>
        <div class="post-info">
          <P>Đăng bởi: Hai Nguyen</P>
          <p>10:30 AM . Hôm nay</p>
        </div>
      </div>
      <div class="post-card">
        <p style="font-weight: bold">
          Cập nhật mới nhất: Đã hỗ trợ 1000 khẩu trang, 300 đồ bảo hộ
        </p>
        <div align="center">
          <img src="https://picsum.photos/200" alt="image" />
        </div>
        <div class="post-info">
          <P>Đăng bởi: Hai Nguyen</P>
          <p>10:30 AM . Hôm nay</p>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
