<div class="request_session">
    <h2><b>Yêu cầu Khẩn Cấp</b><span>
            <app-button (click)="createClick()" [height]="height.small" [color]="color.accent"
                [text]="text.createRequest">
            </app-button>
        </span></h2>
    <hr>
    <br>
    <div>
        <div class="search-form float-right m-3">
            <mat-icon class="search-icon" aria-hidden="false" aria-label="Example home icon">search</mat-icon>
            <input type="text" class="search-input" placeholder="Tìm kiếm" />
        </div>
        <!-- <span>
            <app-button [height]="height.large" [color]="color.basic" [icon]="icon.sort" [text]="text.filter">
            </app-button>
        </span> -->
    </div>
    <br>
    <button mat-stroked-button [matMenuTriggerFor]="level">Mức độ</button>
    <mat-menu #level="matMenu">
        <button *ngFor="let level of urgentLevels" mat-menu-item>{{level}}</button>
    </mat-menu>
    <button mat-stroked-button [matMenuTriggerFor]="support_type">Loại yêu cầu</button>
    <mat-menu #support_type="matMenu">
        <button *ngFor="let type of supportTypes" mat-menu-item>{{type.name}}</button>
    </mat-menu>
    <button mat-stroked-button [matMenuTriggerFor]="status">Trạng thái</button>
    <mat-menu #status="matMenu">
        <button *ngFor="let status of statuses" mat-menu-item>{{status}}</button>
    </mat-menu>
    <button mat-stroked-button [matMenuTriggerFor]="object">Đối tượng</button>
    <mat-menu #object="matMenu">
        <button *ngFor="let object of requesterObjectStatus" mat-menu-item>{{object.name}}</button>
    </mat-menu>
    <div class="request_items">
        <div *ngFor="let request of requests">
            <app-request-card (click)="chooseRequest(request)" [request]=request>
            </app-request-card>
        </div>
    </div>
</div>