<div class="sidebar-container">
  <div class="header">
    <p>Bệnh viện A</p>
  </div>
  <p>
    Địa chỉ:
    <span style="font-weight: bold"
      >Địa chỉ: 311 Khổng Tử, P. Linh Đông, TP Thủ Đức</span
    >
  </p>
  <button class="tag">&bull; BÌNH THƯỜNG</button>
  <div style="display: flex; margin-top: 10px">
    <p style="margin-right: 1.2rem">Bệnh nhân: 1200</p>
    <p>Giường bệnh: 2000</p>
  </div>
  <mat-tab-group>
    <!-- status-tab -->
    <mat-tab label="CẬP NHẬT TRẠNG THÁI">
      <div class="update-status">
        <mat-form-field appearance="outline">
          <mat-label>Cập nhật trạng thái...</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button class="send">GỬI</button>
      </div>
      <p style="font-weight: bold">MỚI NHẤT</p>
      <div *ngFor="let comment of lastestComment" style="margin-bottom: 15px">
        <app-comment-box [comment]="comment"></app-comment-box>
      </div>
      <p style="font-weight: bold; margin-top: 30px">LỊCH SỬ</p>
      <div *ngFor="let comment of historyComment" style="margin-bottom: 15px">
        <app-comment-box [comment]="comment"></app-comment-box>
      </div>
    </mat-tab>
    <!-- post-tab -->
    <mat-tab label="BÀI ĐĂNG">
      <div class="update-status">
        <mat-form-field appearance="outline">
          <mat-label>Nhập nội dung...</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button class="send">GỬI</button>
      </div>
      <app-post-card></app-post-card>
    </mat-tab>
    <!-- volunteer-tab -->
    <mat-tab label="HOẠT ĐỘNG THIỆN NGUYỆN">
      <div class="update-status">
        <mat-form-field appearance="outline">
          <mat-label>Nhập nội dung...</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <button class="send">GỬI</button>
      </div>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </mat-tab>
  </mat-tab-group>
</div>
