<div class="request_session">
   
    <!-- <div>
        <br>
        <div class="search-form float-right m-3">
            <mat-icon class="search-icon" aria-hidden="false" aria-label="Example home icon">search</mat-icon>
            <input type="text" class="search-input" placeholder="Tìm kiếm" />
        </div>
        <br>
    </div> -->

    <div class="request_items">
        <div *ngFor="let request of requests">
            <app-request-card type="manage" (click)="chooseRequest(request)" [request]=request>
            </app-request-card>
        </div>
    </div>
</div>