.example-spacer {
  flex: 1 1 auto;
}

.logo_button{
    display: flex;
    align-items: center;
}

.navbar-left {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}


.navbar-right {
  display: flex;
  width: 30vw;
  justify-content: space-between;
}

.mat-toolbar {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.drawer {
  height: 100vh;
  padding-top: 15vh;
  background-color: #f8f8f8;
  color: #000000e6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}

.drawer-items {
  width: 18vw;
  max-width: 250px;
  padding-right: 20px;
}

.drawer-content {
  position: relative;
  overflow: hidden;
  padding: 10vh 40px 0 40px;
  background-color: white;
}

.drawer-item {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 50px;
  opacity: 0.6;
}

.active-item {
  @extend .drawer-item;
  color: #000000;
  background-color: #ffefed;
  border: none;
  border-radius: 0px 28px 28px 0px;
  opacity: 1;
}

mat-form-field {
  font-size: 14px;
}

mat-toolbar{
  padding: 0 40px;
}
