<mat-toolbar>
  <div class="navbar-left">
    <div class="logo_button">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="showFiller = !showFiller"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>SOSVN</span>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>TP HOCHIMINH</mat-label>
      <mat-select> </mat-select>
    </mat-form-field>
  </div>
  <span class="example-spacer"></span>
  <div class="navbar-right">
    <p>Hotline: 18009999</p>
    <a>ĐĂNG NHẬP</a>
    <a>ĐĂNG KÍ</a>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="drawer" *ngIf="showFiller"
    ><div class="drawer-items">
      <div class="active-item">Tổng quan</div>
      <div class="drawer-item">Yêu cầu khẩn cấp</div>
      <div class="drawer-item">Bệnh viện</div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="drawer-content"
    ><router-outlet></router-outlet
  ></mat-sidenav-content>
</mat-sidenav-container>
