<button fxHide.gt-xs mat-fab style="right: 20px; bottom: 20px; position: fixed; z-index: 20;" color="accent"
  (click)="openCreateForm()">
  <mat-icon>add</mat-icon>
</button>

<div class="request_session">
  <br>
  <div style="position: relative; margin-bottom: 10px;">
    <div fxLayout="row">
      <div class="search-form float-right m-3" fxFlex.gt-xs='0 0' fxFlex>
        <mat-icon class="search-icon" aria-hidden="false" aria-label="Example home icon">search</mat-icon>
        <input [(ngModel)]="filterObject.keyword" type="text" class="search-input" placeholder="Tìm kiếm"
          (keyup.enter)="setKey($event)" />
        <mat-icon *ngIf="filterObject.keyword" (click)="clearKey()" class="clear-icon">close</mat-icon>

      </div>
    </div>


    <button matBadge="{{filterObject.support_types?.length||null}}" matBadgePosition="after" matBadgeColor="primary"
      class="menuTrigger" mat-stroked-button [matMenuTriggerFor]="support_type">
      Loại yêu cầu
    </button>
    <mat-menu #support_type="matMenu">
      <button *ngFor="let type of supportTypes" mat-menu-item (click)="selectSupportType(type.type, $event)">
        <mat-icon class="empty">check_box_outline_blank</mat-icon>
        <mat-icon class="checked red">check_box</mat-icon>
        {{ type.name }}
      </button>
    </mat-menu>
    <button matBadge="{{filterObject.status?.length||null}}" matBadgePosition="after" matBadgeColor="primary"
      class="menuTrigger" mat-stroked-button [matMenuTriggerFor]="status">Trạng thái</button>
    <mat-menu #status="matMenu">
      <button *ngFor="let status of statuses" mat-menu-item (click)="selectStatus(status.type, $event)">
        <mat-icon class="empty">check_box_outline_blank</mat-icon>
        <mat-icon class="checked red">check_box</mat-icon>{{ status.name }}
      </button>
    </mat-menu>
    <button matBadge="{{filterObject.object_status?.length||null}}" matBadgePosition="after" matBadgeColor="primary"
      class="menuTrigger" mat-stroked-button [matMenuTriggerFor]="object">Đối tượng</button>
    <mat-menu #object="matMenu">
      <button *ngFor="let object of requesterObjectStatus" mat-menu-item (click)="selectObject(object.key!, $event)">
        <mat-icon class="empty">check_box_outline_blank</mat-icon>
        <mat-icon class="checked red">check_box</mat-icon>{{ object.name }}
      </button>
    </mat-menu>
    <button class="menuTrigger" style="width: 85px;" mat-stroked-button [matMenuTriggerFor]="distance">
      {{ filterObject.distance }} (km)
    </button>
    <mat-menu #distance="matMenu">
      <button *ngFor="let distance of distanceOpt" mat-menu-item (click)="selectDistance(distance)">
        {{ distance }}
      </button>
    </mat-menu>
    <button mat-icon-button aria-label="drop location" (click)="selectLocation()">
      <mat-icon *ngIf="!_isPicked">pin_drop</mat-icon>
      <mat-icon *ngIf="_isPicked" color="primary">pin_drop</mat-icon>
    </button>
  </div>
  <div class="request_items">
    <app-request-container session='{{session}}' (scrollingFinished)="load()" type='half-width' [requests]='requests'></app-request-container>
  </div>
</div>