::ng-deep .errNotif {
  color: white;
  background: #f44336 !important;
}

::ng-deep .warnNotif {
  color: black;
  background: yellow !important;
}

::ng-deep .infoNotif {
  color: black;
  background: white !important;
}
