<button (click)="toggleMap()" mat-stroked-button fxHide.gt-xs style="
    bottom: 20px;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    left: 50vw;
    position: fixed;
    z-index: 20;
    border-radius: 5rem;
  ">
    <mat-icon>map</mat-icon> {{ mobileScreen }}
</button>
<div class="request_page_container">
    <div fxLayout="row" fxLayoutAlign="end" style="margin: 10px; padding: 0">
        <app-button *ifRoles="['ADMIN', 'OPERATOR']" fxHide fxShow.gt-xs (click)="openCreateForm()" height="40" color="accent" text="Tạo trạm y tế">
        </app-button>
    </div>
    <div fxLayout="row">
        <div [fxHide.lt-sm]="mobileScreen === 'CLINICS'" fxFlex.lt-sm="100" fxFlex.lt-md="45"
            fxFlex.gt-xs="noshrink" id="request_list">
            <all-clinic-container [(clinics)]="clinics" (isMapPicked)="isCanPick($event)"
                [locationPicked]="_pickedSearchLocation"></all-clinic-container>
        </div>
        <div [fxHide.lt-sm]="mobileScreen === 'MAP'" fxFlex="fxFill" class="two">
            <app-clinic-map [clinics]="clinics" (pickedLocation)="onPickNewLocation($event)"
                [selectLocationMode]="_isCanPick"></app-clinic-map>
        </div>
    </div>
</div>