/* You can add global styles to this file, and also import other style files */
@import "./variables";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-bottom-sheet-container {
  min-height: 95vh;
  min-width: 99vw !important;
  border-radius: 20px 20px 0 0 !important;
}

.mat-icon {
  cursor: pointer;
}
