@import '~@angular/material/theming';
@include mat-core();

  $primary: mat-palette($mat-red,200);
  $accent: mat-palette($mat-gray,200);

  $theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);