.request_page_container {
  padding: 0;
  position: relative;
  overflow: hidden;
}
.two {
  padding: 0 10px;
  height: calc(100vh - 180px);
}
.n0 {
  display: none !important;
}

.fw-container {
  height: calc(100vh - 9rem);
}
