<div class="request_page_container">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-tab-group fxFill>
      <mat-tab label="Tất cả">
        <ng-template matTabContent style="width:100%">
          <div fxFlex="noshrink" id="request_list">
            <all-request-container [(requests)]='requests'></all-request-container>
          </div>
          <div fxFlex="fxFill" class="two">
            <app-maps [requests]="requests"></app-maps>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf='user' label="Được đề xuất">
        <ng-template matTabContent>
          <div class="fw-container">
            <suggested-request [groups]="user.groups" [user_id]="user.id"></suggested-request>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf='user' label="Đã tạo">
        <ng-template matTabContent>
          <div class="fw-container">
            <created-request [user_id]="user.id"></created-request>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf='user' label="Công việc">
        <ng-template matTabContent>
          <div class="fw-container">
            <joined-request [user_id]="user.id"></joined-request>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf='user' label="Đã ghim">
        <ng-template matTabContent>
          <div class="fw-container">
            <bookmarked-request></bookmarked-request>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </div>
 
</div>