<button
  *ngIf="tabGroup.selectedIndex == 0"
  (click)="toggleMap()"
  mat-stroked-button
  fxHide.gt-xs
  style="
    bottom: 20px;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    left: 50vw;
    position: fixed;
    z-index: 20;
    border-radius: 5rem;
  "
>
  <mat-icon>map</mat-icon> {{ mobileScreen }}
</button>
<div class="request_page_container">
  <div fxLayout="row" fxLayoutAlign="end" style="margin: 0; padding: 0">
    <app-button
      fxHide
      fxShow.gt-xs
      (click)="openCreateForm()"
      height="40"
      color="accent"
      text="Tạo yêu cầu"
    >
    </app-button>
  </div>
  <mat-tab-group fxFill #tabGroup>
    <mat-tab label="Tất cả">
      <ng-template matTabContent style="width: 100%">
        <div fxLayout="row">
          <div
            [fxHide.lt-sm]="mobileScreen === 'REQUESTS'"
            fxFlex.lt-sm="100"
            fxFlex.lt-md="45"
            fxFlex.gt-xs="noshrink"
            id="request_list"
          >
            <all-request-container
              [(requests)]="requests"
            ></all-request-container>
          </div>
          <div
            [fxHide.lt-sm]="mobileScreen === 'MAP'"
            fxFlex="fxFill"
            class="two"
          >
            <app-maps [requests]="requests"></app-maps>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <ng-container *ifNotRoles="['GUEST']">
      <mat-tab label="Được đề xuất">
        <ng-template matTabContent>
          <div class="fw-container">
            <suggested-request
              [groups]="user.groups"
              [user_id]="user.id"
            ></suggested-request>
          </div>
        </ng-template>
      </mat-tab>
    </ng-container>

    <mat-tab *ifNotRoles="['GUEST']" label="Đã tạo">
      <ng-template matTabContent>
        <div class="fw-container">
          <created-request [user_id]="user.id"></created-request>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab *ifNotRoles="['GUEST']" label="Công việc">
      <ng-template matTabContent>
        <div class="fw-container">
          <joined-request [user_id]="user.id"></joined-request>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab *ifNotRoles="['GUEST']" label="Đã ghim">
      <ng-template matTabContent>
        <div class="fw-container">
          <bookmarked-request></bookmarked-request>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
